@model WebApp.Models.nota_ingreso

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>nota_ingreso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nro_doc" class="control-label"></label>
                <input asp-for="nro_doc" class="form-control" />
                <span asp-validation-for="nro_doc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="movimiento" class="control-label"></label>
                <input asp-for="movimiento" class="form-control" />
                <span asp-validation-for="movimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label"></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_sucursal" class="control-label"></label>
                <input asp-for="id_sucursal" class="form-control" />
                <span asp-validation-for="id_sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_suc_origen" class="control-label"></label>
                <input asp-for="id_suc_origen" class="form-control" />
                <span asp-validation-for="id_suc_origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
